root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.bash,*.sh,*.zsh,.zshrc,.bashrc,local/bin/*}]
indent_size = 4

[{.vimrc,*.vim}]
indent_size = 4

# Modifying git configs with the git CLI enforces tabs for alignment so making
# my editor follow the same rules is better than trying to change the git CLI
# to follow my conventions.
[config/git/*]
indent_style = tab
indent_size = 4
