[submodule "vim-nginx"]
	path = home/.vim/pack/plugins/start/nginx
	url = https://github.com/chr4/nginx.vim.git
[submodule "vim-stylus"]
	path = home/.vim/pack/plugins/start/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim-editorconfig"]
	path = home/.vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "zsh-command-time"]
	path = lib/plugins/zsh-command-time
	url = https://github.com/popstas/zsh-command-time.git
[submodule "config/cheat/cheatsheets/community"]
	path = config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
[submodule "lib/plugins/zsh-command-time"]
	path = lib/plugins/zsh-command-time
	url = https://github.com/popstas/zsh-command-time.git
